@(books: List[Book], cats: Set[String])

@main("Welcome to Mediatek") {

<h1>Welcome Mediatek</h1>
<form action="http://localhost:9000/books" method=GET>
<div id="category">
  <select id="cat" name="cat">
    @for(c <- cats) {
      <option  value="@c">@c</option>
    }
  </select>
  <button type="submit">filter</button>
</div>
</form>
<ul>
  @for(book <- books) {
    <li data-category="@book.getCategory()">@book.getName() - @book.getCategory()</li>
  }
</ul>

<script type="text/javascript">
  var nodesHTML = document.querySelectorAll('#category > span');
  for (var i = 0; i < nodesHTML.length; i++) {
    nodesHTML[i].addEventListener('click', function(e) {
      var nodes = document.querySelectorAll('ul > li[data-category="' + e.target.innerHTML + '"]');
      for (var i = 0; i < nodes.length; i++) {
        nodes[i].innerHTML = 'lol';
      }
    });
  }
</script>

}
